<mat-sidenav-container>
  <!--  -->
  <!-- CHECKOUT SIDENAV -->
  <mat-sidenav #sidenav mode = "side" [(opened)]="opened" position = "end">
    <mat-grid-list cols="1" rowHeight="3:2" gutterSize="20px">
      <mat-grid-tile *ngFor="let item of checkoutItems" id = "checkoutTile">
            <div class = "parent">
              <div class="main-content">
                {{item.name}} 
              </div>
              <div class = "secondDiv">
                {{item.price | currency}}
              </div>
            </div>

              <mat-grid-tile-footer id = "checkout-tile-footer">
                <button mat-button (click)="minusCount(item)" id = "countButton">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>

                <p [style.color] = "'black'">{{item.count}}</p>

                <button mat-button (click)="plusCount(item)" id = "countButton">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>

          </mat-grid-tile-footer>
        </mat-grid-tile>
  </mat-grid-list>


  <mat-card class ="checkoutCard"> 
    <mat-card-content>
      <div class="total-line">
        <span>Subtotal</span>
        <span>{{subtotal | currency}}</span>
      </div>
      <div class="total-line">
        <span>Tax</span>
        <span>{{tax | currency}}</span>
      </div>
  
      <mat-divider></mat-divider>
      <br>
      <div class="total-line">
        <span>Total</span>
        <span>{{total | currency}}</span>
      </div>
    </mat-card-content>
    <br>
    <br>
    <button class="button-17" role="button" (click)="makePayment()"> Proceed to payment </button>
  </mat-card>

  <!-- CHECKOUT SIDENAV -->
  <!--  -->
  

  </mat-sidenav>

  <!-- MAIN POS GRID -->
  <mat-sidenav-content>
    <div class = "pos-top">
      <h1>Welcome!</h1>
      <button (click) = "sidenav.toggle()" mat-fab ><mat-icon>shopping_cart</mat-icon></button>
    </div>
  <br>
    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="60px">
      <mat-grid-tile *ngFor="let item of products">
          <div class="tile-content">
              <!-- <img [src]="item.pic" width = 50% alt="Image"> -->
            </div>
            <!-- <mat-grid-tile-footer id = "tile-footer" > -->
              <div>
                  {{item.name}}, 
                  <br>
                  Individual Price: {{convertToDollars(item.unitPrice) | currency}}
                  <br>
                  Bulk Price: {{convertToDollars(item.bulkPrice) | currency}}
              </div>
              <div>
                <button  (click) = "addtoCheckout(item.name, +item.unitPrice, +1)" mat-mini-fab color="blue">
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
            <!-- </mat-grid-tile-footer> -->
        </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-card *ngFor="let product of products" class = "productCard">
    <mat-card-content>
      {{product.name}}
      <br>
      Individual Price: {{convertToDollars(product.unitPrice) | currency}},
      Bulk Price: {{convertToDollars(product.bulkPrice) | currency}}
    </mat-card-content>
  </mat-card> -->
  
  </mat-sidenav-content>
</mat-sidenav-container>
