
<!-- Header includes Navigation Bar with Logo and Router Links to 'Shop Candy' & 'Management Portal Pages' -->
<mat-toolbar class="navbar" (scroll) = "onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div>
    <img src= "assets/img/circlelogo.png" id = "logo">
    </div>
    <div >
        <a mat-button routerLink = "shop/candy" [style.color] = "'white'" id="buttons">Shop Candy</a>
        <a mat-button routerLink = "management" [style.color] = "'white'" id="buttons">Management Portal</a>
    </div>
</mat-toolbar>
