<div class="ManagementPortal">
 <br>
 <!-- Includes Title and Add Product Button -->
 <div class = "pos-top">
    <h1>Management Portal</h1>
    <div class="search-container">
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Search for a product">
      </mat-form-field>
    </div>
    <button (click) = "addProduct()" mat-fab ><mat-icon>add</mat-icon></button>
  </div>
  <br>
  
  <!-- Grid List of Products -->
  <!-- Each product contains option to delete product, favorite product, and edit product -->
  <mat-grid-list cols="4" rowHeight="4:4" gutterSize="40px">
    <mat-grid-tile *ngFor="let item of filteredProducts">
      <div class = "parent">
        <button class = "delete" (click) = "deleteProduct(item)" role="button"><mat-icon>delete_outline</mat-icon></button>
        <div class = "Management">
            <div class = "ItemName">{{item.name}} </div>
            <mat-divider></mat-divider>
            <div class = "outofstock" *ngIf="0 > item.inventory"id = "prices">OUT OF STOCK</div>
            <div>Individual Price: {{item.unitPrice}}¢</div>
            <div>Bulk Price: {{item.bulkPrice}}¢</div>
            Inventory: {{item.inventory}}
              
        </div>
        
        <div class = "secondDiv">
          <button *ngIf="item.inventory > 0" class="button-16" (click) = "addtoFavProduct(item)">Add to Favorites</button>   
          <!--  *ngIf="!item.favProduct"  -->
          <!-- <button *ngIf="item.favProduct" class="button-16" (click)="removeFromFavProduct(item)">Remove from Favorites</button> -->
          <br>
          <button  class="button-16" (click) = "editProduct(item)"role="button">Edit Product</button>
        </div>
      </div>
    </mat-grid-tile>
</mat-grid-list>

</div>


<!-- add images -->