.productCard{
    // position:absolute;
    background-color: white;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
}


h1{
    font-family: 'Oswald', sans-serif;
    font-size:xxx-large;
}

.pos-top{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}